.como-funciona-section {
  padding: 2rem;
}
.section-titulo {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.section-subtitulo {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.pasos-div{
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
}