.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 70px;
    object-fit: contain;
}
.auth-text {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
}

