.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 70px;
    object-fit: contain;
}
.auth-text{
    font-size: 30px;
    margin-top: 20px;
    color: white;
}
.span {
    color: #1F8AFF;
}
