.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2933;
  color: white;
  height: var(--navbar-height);
  padding: 0 1.25rem;
}

.logoImage {
  height: 72px;
  width: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 1rem;
}

.enlace {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 1.5rem;
  transition: opacity 0.3s ease;
}

.enlace:hover {
  opacity: 0.7;
}

.enlaceImage {
  height: 24px;
  width: 24px;
  object-fit: contain;
  margin-right: 0.5rem;
}