.footer {
  color: white;
  text-align: center;
  padding: 2rem;
}
.footerDivider {
  width: 100%;
  border: none;
  height: 2px;
  background: white;
  opacity: 0.5;
  border-radius: 999px;
  margin: 10px 0 25px;
}