.dashboard {
  display: flex;
  height: 90vh;
  background: var(--bg);
  color: var(--text);
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #0a0f14;
  padding: 20px;
  border-right: 1px solid #1a222c;
}

.sidebar h2 {
  color: var(--primary);
}

.sidebar p {
  margin: 15px 0;
  cursor: pointer;
  color: var(--muted);
}

.sidebar .active {
  color: var(--primary);
}

/* MAIN */
.calendarbody {
  flex: 1;
  padding: 20px;
}
