.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-image {
  height: 40px;
  width: auto;
  object-fit: contain;
  animation: bounce 2s infinite;
}

/* Animación */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}