@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Reset global de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* hace que el ancho y alto incluyan padding y border */
}

html,
body,
#root {
  font-family: 'Inter', sans-serif;
}

.hero-button {
  padding: 1rem 3rem;
  font-size: 1.1rem;
  background-color: #1F8AFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #5AA9FF;
  transform: translateY(-3px);
}
.span {
    color: #1F8AFF;
}